body {
  font-family: sans-serif;
  margin: auto;
  width: 100%;
  height: 100%;
}

.splash {
  background: #000 url('img/splash.png') center center / contain no-repeat;
  width: 100vw;
  min-height: 100vh;
  box-sizing: border-box;
  overflow-x: hidden;
  overflow-y: hidden;
}

